extends layout

block deviceKeys
  div.container
    div.row
      div(data-verb="irsend" data-device="hts" data-key="KEY_POWER").col-xs-3.btn.btn-danger.text-center 
        span.glyphicon.glyphicon-off
      div(data-verb="irsend" data-device="hts" data-key="KEY_INPUT").col-xs-3.btn.btn-default.text-center INPUT
      div(data-verb="irsend" data-device="hts" data-key="KEY_OPTICAL").col-xs-3.btn.btn-default.text-center OPTICAL
      div(data-verb="irsend" data-device="hts" data-key="MACRO_hts_hdmi").col-xs-3.btn.btn-default.text-center HDMI
    div.row
      div(data-verb="irsend" data-device="hts" data-key="KEY_VOLUME_UP").col-xs-3.btn.btn-default.text-center 
        span.glyphicon.glyphicon-volume-up
      div(data-verb="irsend" data-device="hts" data-key="KEY_VOLUME_DOWN").col-xs-3.btn.btn-default.text-center 
        span.glyphicon.glyphicon-volume-down
      div(data-verb="irsend" data-device="hts" data-key="KEY_MUTE").col-xs-3.btn.btn-default.text-center 
        span.glyphicon.glyphicon-volume-off
      
    div.row
      div(data-verb="irsend" data-device="hts" data-key="KEY_1").col-xs-4.btn.btn-default.text-center 1
      div(data-verb="irsend" data-device="hts" data-key="KEY_2").col-xs-4.btn.btn-default.text-center 2
      div(data-verb="irsend" data-device="hts" data-key="KEY_3").col-xs-4.btn.btn-default.text-center 3
    div.row
      div(data-verb="irsend" data-device="hts" data-key="KEY_4").col-xs-4.btn.btn-default.text-center 4
      div(data-verb="irsend" data-device="hts" data-key="KEY_5").col-xs-4.btn.btn-default.text-center 5
      div(data-verb="irsend" data-device="hts" data-key="KEY_6").col-xs-4.btn.btn-default.text-center 6
    div.row
      div(data-verb="irsend" data-device="hts" data-key="KEY_7").col-xs-4.btn.btn-default.text-center 7
      div(data-verb="irsend" data-device="hts" data-key="KEY_8").col-xs-4.btn.btn-default.text-center 8
      div(data-verb="irsend" data-device="hts" data-key="KEY_9").col-xs-4.btn.btn-default.text-center 9
    div.row
      div(data-verb="irsend" data-device="hts" data-key="KEY_REPEAT").col-xs-3.btn.btn-default.text-center REPEAT  
        span.glyphicon.glyphicon-repeat
      div(data-verb="irsend" data-device="hts" data-key="KEY_0").col-xs-3.btn.btn-default.text-center 0
      div(data-verb="irsend" data-device="hts" data-key="KEY_CLEAR").col-xs-3.btn.btn-default.text-center CLEAR
    div.row
      div(data-verb="irsend" data-device="hts" data-key="KEY_A_B").col-xs-3.btn.btn-default.text-center A-B 
      div(data-verb="irsend" data-device="hts" data-key="KEY_PAUSE").col-xs-3.btn.btn-default.text-center
        span.glyphicon.glyphicon-pause
      div(data-verb="irsend" data-device="hts" data-key="KEY_PREVIOUS").col-xs-3.btn.btn-default.text-center
        span.glyphicon.glyphicon-fast-backward
      div(data-verb="irsend" data-device="hts" data-key="KEY_NEXT").col-xs-3.btn.btn-default.text-center
        span.glyphicon.glyphicon-fast-forward
    div.row
      div(data-verb="irsend" data-device="hts" data-key="KEY_REWIND").col-xs-3.btn.btn-default.text-center
        span.glyphicon.glyphicon-backward
      div(data-verb="irsend" data-device="hts" data-key="KEY_STOP").col-xs-3.btn.btn-default.text-center
        span.glyphicon.glyphicon-stop
      div(data-verb="irsend" data-device="hts" data-key="KEY_PLAY").col-xs-3.btn.btn-default.text-center
        span.glyphicon.glyphicon-play
      div(data-verb="irsend" data-device="hts" data-key="KEY_FORWARD").col-xs-3.btn.btn-default.text-center
        span.glyphicon.glyphicon-forward
    div.row
      div(data-verb="irsend" data-device="hts" data-key="KEY_SETUP").col-xs-3.btn.btn-default.text-center SETUP 
        span.glyphicon.glyphicon-list
      div(data-verb="irsend" data-device="hts" data-key="KEY_TOP_MENU").col-xs-3.btn.btn-default.text-center T.MENU 
        span.glyphicon.glyphicon-list-alt
      div(data-verb="irsend" data-device="hts" data-key="KEY_UP").col-xs-3.btn.btn-default.text-center
        span.glyphicon.glyphicon-triangle-top
      div(data-verb="irsend" data-device="hts" data-key="KEY_MENU").col-xs-3.btn.btn-default.text-center MENU 
        span.glyphicon.glyphicon-menu-hamburger
    div.row
      div(data-verb="irsend" data-device="hts" data-key="KEY_MODE").col-xs-3.btn.btn-default.text-center MODE  
      div(data-verb="irsend" data-device="hts" data-key="KEY_LEFT").col-xs-3.btn.btn-default.text-center
        span.glyphicon.glyphicon-triangle-left
      div(data-verb="irsend" data-device="hts" data-key="KEY_ENTER").col-xs-3.btn.btn-default.text-center ENTER
      div(data-verb="irsend" data-device="hts" data-key="KEY_RIGHT").col-xs-3.btn.btn-default.text-center
        span.glyphicon.glyphicon-triangle-right
    div.row
      div(data-verb="irsend" data-device="hts" data-key="KEY_ZOOM").col-xs-3.btn.btn-default.text-center ZOOM 
        span.glyphicon.glyphicon-fullscreen
      div(data-verb="irsend" data-device="hts" data-key="KEY_ENTER").col-xs-3.col-sm-3.col-md-3.col-lg-3   
      div(data-verb="irsend" data-device="hts" data-key="KEY_BOTTOM").col-xs-3.btn.btn-default.text-center 
        span.glyphicon.glyphicon-triangle-bottom
      div(data-verb="irsend" data-device="hts" data-key="KEY_RETURN").col-xs-3.btn.btn-default.text-center RETURN 
        span.glyphicon.glyphicon-share-alt

