extends layout

block deviceKeys
  div.container
    div.row
      div#KEY_POWER.col-xs-3.btn.btn-danger.text-center 
        span.glyphicon.glyphicon-off
    div.row
      div.col-xs-2.btn.btn-danger.text-center(data-key="KEY_1" data-device="switch" data-verb="irsend") 1
      div.col-xs-2.btn.btn-danger.text-center(data-key="KEY_2" data-device="switch" data-verb="irsend") 2
      div.col-xs-2.btn.btn-danger.text-center(data-key="KEY_3" data-device="switch" data-verb="irsend") 3
      div.col-xs-2.btn.btn-danger.text-center(data-key="KEY_4" data-device="switch" data-verb="irsend") 4
      div.col-xs-2.btn.btn-danger.text-center(data-key="KEY_5" data-device="switch" data-verb="irsend") 5