extends layout

block deviceKeys
  div.container
    div.row
      div#KEY_POWER.col-xs-3.btn.btn-danger.text-center 
        span.glyphicon.glyphicon-off
    div.row
      div#KEY_1.col-xs-2.btn.btn-danger.text-center 1
      div#KEY_2.col-xs-2.btn.btn-danger.text-center 2
      div#KEY_3.col-xs-2.btn.btn-danger.text-center 3
      div#KEY_4.col-xs-2.btn.btn-danger.text-center 4
      div#KEY_5.col-xs-2.btn.btn-danger.text-center 5